.shop{
    flex:100%;
}
.shop h1{
color:rgb(23, 23, 65);
font-weight:bold;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-align:center;
margin:30  40px;
padding:30 40px;
}
.shop .products{
    display:grid;
    grid-template-columns:1fr 1fr;
  align-items:center;
  place-items:center;
  justify-content:center;
  margin:50px 0;
}
@media screen and (max-width:480px){
.shop h1{
text-align:center;
}  
.shop .products{
  display:grid;
  grid-template-columns:1fr;
}
}









